<!-- Why not flex-end? Every would stack down, and there's no justify-self  -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp</span>
    </div>
</footer>