<% layout('layouts/boilertemplate')%>
<div class="row">
    <h1 class="text-center">New Campground</h1> <!-- M: class to text-center -->
    <!-- Offset? increases margin by column-->
    <% if (typeof errorMessage !== 'undefined' && errorMessage !== null) { %>
        <p><%=errorMessage%></p>
    <% } %>
    <div class="col-md-6 offset-3">
        <form action="/campgrounds" method="post" name="campground" novalidate class="needs-validation" enctype="multipart/form-data">  
            <div class="mb-3">
                <label class="form-label" for="title">Title</label> <!-- .form-label R: the docs! -->
                <input class="form-control" type="text" name="campground[title]" id="title" required> <!-- Express sees _[] as an obj --> 
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" placeholder="e.g Street, City, Country" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="mb-3">
                <label for="inputDescription" class="form-label">Description</label>
                <textarea class="form-control" rows="3" id="inputDescription" name="campground[description]"></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Price Php</span>
                <label class="form-label"></label>
                <input type="text" class="form-control" name="campground[price]" aria-label="Amount" placeholder="0.0 /night" required>
                <div class="invalid-feedback">
                    Please provide a valid price
                </div>
            </div>
            <div class="mb-3">
                <label for="inputImage" class="form-label">Choose Images</label>
                <input type="file" class="form-control" id="inputImage" name="campground[image]" aria-describedby="imageHelp" multiple>
            </div>
            <button class="btn btn-success mb-3">Add Campground</button>
            <br>
            <a href="/campgrounds">All campgrounds</a>
        </form>
    </div>
</div>
<script>
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms)                                  // N: <-- New method of converting to array
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>